# Copy this file to ".env.local" and fill in your values.
# Do NOT commit .env.local to GitHub.

RAPIDAPI_KEY=PASTE_YOUR_X_RAPIDAPI_KEY_HERE
RAPIDAPI_HOST=api-football-v1.p.rapidapi.com
API_FOOTBALL_TIMEZONE=Europe/London

